body
{
    
  margin: 0px;
  padding: 0px;
}
#header{
    height: 22px;
    background: #224e90;
}
#banner{
    height:95px;
    background: url('../images/backfoot.png');
}
#menu{
    z-index: 10;
    height: 35px;
    background: #224e90;
}
#footer{
    position: relative;
    padding-bottom: 20px;
    background: url('../images/backfoot.png');
}
#mbody{
    position: relative;
    top:0px;
    left: 0px;
    width: 1348px;
	background:#F8FBEF;
}
#foot_title
{
    font-family: "segoe UI Symbol",verdana;
    color: white;
    font-size: 18px;
    margin-bottom: -8px;
}

#foot_div
{
    margin-left: 80px;
    margin-right: 20px;
    margin-bottom: 15px;
    background:url('../images/backfoot.png');
}

.foot_link a
{
    color: #b2b2b2;
    font-family: "segoe UI Symbol",verdana;
    text-decoration: none;
}

#web{
    text-align: center;
    font-family: "Segoe UI Symbol",verdana;
    color: white;
    font-size: 20px;
    background:url('../images/backfoot.png');
}
#web a{
    color: white;
    text-decoration: none;
}
#social{
    margin:20px auto 20px 300px;
    text-align: center;
}
#web a:hover{
    color: #b2b2b2;
}
#social div{
    width: 32px;
    height:32px;
    float: left;
    margin: auto 6px;
}
#fb
{
    background-image: url('../images/social/facebook.png');
}
#fb:hover
{
    background-image: url('../images/social/facebook_selected.png');
}
#gplus
{
    background-image: url('../images/social/google.png');
}
#gplus:hover
{
    background-image: url('../images/social/google_selected.png');
}